video {
  max-width: 100%;
  height: auto;
}

#nav-item > li > a{
  color: #ecfee8 !important;
}

#nav-item > li > a:hover{
  color: grey !important;
}

.videos-view{
  background: #1a1b25;
  display: block;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: auto;
  text-align: center;
}

.videos-view-container{
  margin: auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.h1-video-view{
  color: #ecfee8;
  width: 100%;
}

.video-item{
  padding: 10px;
}

@media (max-width: 767.98px) {
  #nav-item{
    display: none;
  }

  .videos-view-container{
    align-items: center;
    flex-direction: column;
  }

  .video-item{
      padding: 10px;
  }

  .videos-view-container{
    flex-direction: column;
  }
}
